* {
    margin: 0 auto;
}

#page {
    max-width: 1000px; 
    height: 900px;
    background-color: lightgray;
}

#header {
    background-color: white; 
    border: darkblue 6px solid; 
    height: 80px; 
    text-align: center;   
    padding-top: 15px; 
    padding-bottom: 5px;
}

#nav {
    height: 40px; 
    background-color: steelblue; 
    font-family:Arial; 
    font-size:large; 
    font-weight:500;
    text-align: center;
}

#section {
    height: 700px; 
}


#footer {
    height: 80px; 
    background-color: steelblue; 
    color: white; 
    text-align: center;
    padding-top: 25px;
}

#nav ul {
    list-style-type: none;  
}

#nav ul li {
     display: inline-block;
    text-align: center;
}

#nav ul li a {
    display: block; 
    line-height: 24px; 
    text-align: center; 
    text-decoration: none;  
    color: white; 
    padding-top:8px;
    padding-bottom:8px;
    padding-left:10px;
    padding-right:10px;
}

#nav a:hover {
    background-color: white; 
    color: royalblue; 
    font-size:110%;
}


