#section {
    text-align: center; 
}
#WTitle {
    color: navy; 
    font-weight:bold;
    font-size: xx-large; 
    padding-bottom: 30px; 
    font-family: 'Baskerville Old Face' 
}

.Wparagraph {
    font-style:italic;
    font-size: larger; 
    font-family: 'Baskerville Old Face';
    padding-bottom: 30px; 
}

.Wlink{
    padding-top: 30px; 
    font-size: x-large; 
    color: red;
    text-decoration:underline; 
}

h2 {
    padding-top:30px;
}